.mainGame {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  border: 1.5rem solid #000;
  position: relative;
}
.areaGame {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  display: grid;
  /* gap: 1rem; */
  grid-template-columns: repeat(8, 1fr);
}
