.cannon {
  width: 3rem;
  height: 2rem;
  background: #000;
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.cannon::before {
  content: "";
  width: 10px;
  height: 2rem;
  background-color: #dd0000;
  display: block;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
